<launch>

  <arg name="map_file" default="$(find rviz_floor_map)/maps/road_Shuhao.yaml"/>
  <!-- <arg name="map_file" default="$(find rviz_floor_map)/maps/complex.yaml"/> -->
  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <!-- <remap from="/map" to="/world"/> -->
</launch>
